<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240116598867-8ns7cp2b97pu2lfastb9t7059e8qkeqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240116598867-8ns7cp2b97pu2lfastb9t7059e8qkeqd</string>
	<key>API_KEY</key>
	<string>AIzaSyAi9Kh-niV8VK5H2Ndyos0XLxjGn3DvW10</string>
	<key>GCM_SENDER_ID</key>
	<string>240116598867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.timmailman.SwiftUiFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>swiftuiauth-ce1e0</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuiauth-ce1e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240116598867:ios:8f6a977563a92abd23dea6</string>
</dict>
</plist>